.main-display {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.coupon-display {

    gap: 20px;

  

}

.flex-item {
    margin-top: 30px;



    border: 2px solid #282424;
    border-radius: 20px;
    
   
}

.flex-item:hover {
    box-shadow: 0 0 10px #282424;
    transform: scale(1.05);
    transition: all 0.6s ease-in-out;
    border: 3px solid #167ae5;

}

* {
    font-family: 'Roboto', sans-serif;
}

#contact-message {
    font-family: 'Josefin Sans', sans-serif;
}

#branding:hover {
    transform: scale(1.2);
    transition: all 0.6s ease-in-out;
    color: #4866a7;
    cursor: pointer;
}